@{
  Layout = "_Layout";
}
<div class='main-container'>
<div class='form-container'>
<h1>Add a Vendor</h1>
<form action="/vendors" method="post">
  <label for="name">Vendor name</label>
  <input id="name" name="name" type="text">
   <label for="desc">Vendor Description</label>
  <input id="desc" name="desc" type="text">
  <button type="submit">Add</button>
</form>

<a href="/"><button>Back home</button></a>
<a href="/vendors"><button>Back to vendors.</button></a>
</div>
</div>