@{
  Layout = "_Layout";
}

@using VendorTracker.Models
<div class='main-container'>
<div class='form-container'>
<h2>@Model.Name</h2>
<p>@Model.Description</p>

<ol>
@if(@Model.Orders != null){
   @foreach(Order order in @Model.Orders)
   {
       <li><a href='/vendors/@Model.Id/orders/@order.Id'>@order.Name</a></li>
   }
}
else{
  <p>Nothing ordered yet</p>
}
</ol>


<p><a href='/vendors/@Model.Id/orders/new'><button>Add a new order</button></a></p>
<p><a href='/vendors'><button>Vendors</button></a></p>
<p><a href='/'><button>Home</button></a></p>

</div>
</div>