@{
  Layout = "_Layout";
}



<h2>@Model.Name</h2>
<p>@Model.Description</p>

<a href="/vendors/{id}/order/new"></a>


<p><a href='/vendors'>Return to category list</a></p>
<p><a href='/'>Return to Main Page</a></p>