@{
  Layout = "_Layout";
}
<h1>Add a Vendor</h1>
<p>Add a category here:</p>

<form action="/vendors/@Model.Id" method="post">
  <label for="name">Order Name</label>
  <input id="name" name="name" type="text">
   <label for="desc">Order Description</label>
  <input id="desc" name="desc" type="text">
  <label for="price">Order price</label>
  <input id="price" name="price" type="number" min=0>
    <label for="dd">Order dd</label>
  <input id="dd" name="dd" type="text" placeholder="Ex. 01/23/2020">
  <button type="submit">Add</button>
</form>

<p><a href="/">Back home</a></p>
<p><a href="/vendors">Back to vendors.</a></p>