@{
  Layout = "_Layout";
}
<div id="splash">
  <h1 id="title">Welcome to Pierres Bakerys vendor tracker</h1>

  <a href="/vendors/new"><button>Add a new vendor</button></a>
  <a href="/vendors"><button>Check out the vendors</button></a>
</div>