@{
  Layout = "_Layout";
}

<div class='main-container'>
<div class='form-container'>
<form action="/vendors/@Model.Id/orders" method="post">
  <input id="vendorId" name="vendorId" type="hidden" value="@Model.Id">
  <label for="name">Order Name</label>
  <input id="name" name="name" type="text">
   <label for="desc">Order Description</label>
  <input id="desc" name="desc" type="text">
  <label for="price">Order price</label>
  <input id="price" name="price" type="number" min=0>
    <label for="dd">Order Delivery  </label>
  <input id="dd" name="dd" type="text" placeholder="Ex. 01/23/2020">
  <button type="submit">Add</button>
</form>


<a href="/"><button>Back home</button></a>
<a href="/vendors"><button>Back to vendors.</button></a>
</div>
</div>